@font-face {
	font-family: 'AlternateGothicNo3';
	src: url('./fonts/AlternateGothicNo3-webfont.woff2') format('woff2'),
			 url('./fonts/AlternateGothicNo3-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.App {
	text-align: center;
	background: white;
	color: black;
}

.root-grid {  /* TODO: Rename now that we're no longer using a grid */;
	display: flex;
	flex-flow: column;
}

.vv-page-footer {
	flex: 0 1 320px;
	background-color: #333333;
	color: #999999;
}

.header-logo {
	grid-column: 1;
	text-align: left;
}

.footer-logo {
	margin-top: 34px;
}

.footer-text {
	font-size: 12pt;
}

.Gradient-background {
	background-image: linear-gradient(#e81c38, #1c2856);
}

.voteplan-title {
	font-size: 150px;
	font-family: "Pacifico";
	text-shadow: 5px 5px #1b2757;
	padding-bottom: 10px;
}

.App-intro {
	font-size: large;
}

.VotingVoices-serif {
	font-family: Georgia, Times, Times New Roman, serif;
}

.VotingVoices-sans-serif {
	font-family: "AlternateGothicNo3";
}

.vv-button {
	background: none;
	text-transform: uppercase;
	font-family: "AlternateGothicNo3";
	font-size: 16pt;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 8px;
}

.vv-button-filled {
	background: #e81c38;
	color: white;
	border: none;
}

.vv-button-filled:hover {
	background: #b61631;
	color: white;
}

.vv-button-filled.btn.btn-default[disabled] {
	background: #333333;
}

.vv-button-filled-in-header {
	background: #1d2856;
	color: white;
	border: none;
}

.vv-button-filled-in-header:hover {
	background: #e81c38;
	color: white;
}

.vv-button-outline {
	color: white;
}

.vv-button-outline:hover {
	background: #e81c38;
	color: white;
}

.vv-button-large {
	font-size: 24pt;
}

.vv-text-box {
	font-family: "AlternateGothicNo3";
	color: black;
	padding-left: 8px;
	padding-right: 8px;
}

.vv-text-box::placeholder {
	color: #cdcdcd;
}

.start-over-button {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}

.start-plan-button {
	margin-top: 30px;
	margin-bottom: 30px;
}

.contact-about-button {
	border: none;
}

.contact-about-button:hover {
	background: #e81c38;
	color: white;
}

@media only screen and (max-width: 840px) {
	.voteplan-title {
		font-size: 92px;
	}
	.vv-navbar img{
		width: 200px;
	}
}

@media only screen and (max-width: 420px) {
	.voteplan-title {
		font-size: 68px;
	}
}

/* Cross-fade transition */

.cross-fade-leave {
	opacity: 1;
}
.cross-fade-leave.cross-fade-leave-active {
	opacity: 0;
	transition: opacity .3s ease-in-out;
}

.cross-fade-enter {
	opacity: 0;
}
.cross-fade-enter.cross-fade-enter-active {
	opacity: 1;
	transition: opacity .3s ease-in-out;
}

.cross-fade-height {
	transition: height .3s ease-in-out;
}


/* Carousel-like transition */

.carousel-swap-leave {
	transition: transform .3s ease-in-out;
	transform: translate(0, 0);
}
.carousel-swap-leave-active {
	transform: translate(-100%, 0);
}

.carousel-swap-enter {
	transition: transform .3s ease-in-out;
	transform: translate(100%, 0);
}
.carousel-swap-enter-active {
	transform: translate(0, 0);
}

.carousel-swap-height {
	transition: height .3s ease-in-out;
}


.carousel-cross-fade-leave {
		opacity: 1;
		transition: transform .3s ease-in-out;
		transform: translate(0, 0);
}
.carousel-cross-fade-leave-active {
		transform: translate(-100%, 0);
}
.carousel-cross-fade-leave.carousel-cross-fade-leave-active {
		opacity: 0;
		transition: transform .3s ease-in-out, opacity .3s ease-in-out;
}

.carousel-cross-fade-enter {
		opacity: 0;
		transition: transform .3s ease-in-out;
		transform: translate(100%, 0);
}
.carousel-cross-fade-enter-active {
		transform: translate(0, 0);
	}
.carousel-cross-fade-enter.carousel-cross-fade-enter-active {
		opacity: 1;
		transition: opacity .3s ease-in-out, transform .3s ease-in-out;
}
.carousel-cross-fade-height {
		transition: height .3s ease-in-out;
}


/* Reverse of previous, for Back animation */
.reverse-carousel-cross-fade-leave {
		opacity: 1;
		transition: transform .3s ease-in-out;
		transform: translate(0, 0);
}
.reverse-carousel-cross-fade-leave-active {
		transform: translate(100%, 0);
}
.reverse-carousel-cross-fade-leave.reverse-carousel-cross-fade-leave-active {
		opacity: 0;
		transition: transform .3s ease-in-out, opacity .3s ease-in-out;
}

.reverse-carousel-cross-fade-enter {
		opacity: 0;
		transition: transform .3s ease-in-out;
		transform: translate(-100%, 0);
}
.reverse-carousel-cross-fade-enter-active {
		transform: translate(0, 0);
	}
.reverse-carousel-cross-fade-enter.reverse-carousel-cross-fade-enter-active {
		opacity: 1;
		transition: opacity .3s ease-in-out, transform .3s ease-in-out;
}
.reverse-carousel-cross-fade-height {
		transition: height .3s ease-in-out;
}


/* Fade out, then fade in transition */

.fade-wait-leave,
.fade-wait-delay-leave {
	opacity: 1;
}
.fade-wait-leave.fade-wait-leave-active,
.fade-wait-delay-leave.fade-wait-delay-leave-active {
	opacity: 0;
	transition: opacity .3s ease-in;
}

.fade-wait-enter,
.fade-wait-delay-enter {
	opacity: 0;
}
.fade-wait-enter.fade-wait-enter-active,
.fade-wait-delay-enter.fade-wait-delay-enter-active {
	opacity: 1;
	/* Delay the enter animation until the leave completes */
	transition: opacity .3s ease-in .3s;
}

.fade-wait-height {
	transition: height .6s ease-in-out;
}
.fade-wait-delay-height {
	/* Delay the height animation until the leave completes */
	transition: height .3s ease-in-out .3s;
}


/* Roll-up transition */

.roll-up-leave {
	transform: translate(0, 0);
	opacity: 1;
}
.roll-up-leave.roll-up-leave-active {
	transform: translate(-100%, 0);
	opacity: 0;
	transition: opacity .6s ease-in-out, transform .6s ease-in-out;
}

.roll-up-enter {
	transform: translate(-100%, 0);
	opacity: 0;
}
.roll-up-enter.roll-up-enter-active {
	transform: translate(0, 0);
	opacity: 1;
	transition: opacity .6s ease-in-out, transform .6s ease-in-out;
}

.roll-up-height {
	transition: height .6s ease-in-out;
}


/* Fade with width transition */

.fade-fast-leave {
	opacity: 1;
}
.fade-fast-leave.fade-fast-leave-active {
	opacity: 0;
	transition: opacity .3s ease-in-out;
}

.fade-fast-enter {
	opacity: 0;
}
.fade-fast-enter.fade-fast-enter-active {
	opacity: 1;
	transition: opacity .3s ease-in-out;
}

.fade-fast-height {
	transition: height .3s ease-in-out, width .3s ease-in-out;
}