.answer-button {
	height: 110px;
	width: 110px;
	margin: 8px 20px 8px 20px;
	padding: 8px;
	background-color: transparent;
	border: 1px solid white;
	border-radius: 50%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-family: "AlternateGothicNo3";
	font-size: 22px;
	cursor: default;
}

/* Keep this in sync with EmojiButton.css */
@media only screen and (max-width: 840px) {
	.answer-button {
		margin: 4px 6px 4px 6px;
	}
}

.answer-button-hover {
	background-color: CornflowerBlue;
}
