.footer-text {
	margin-left: auto;
	margin-right: auto;
}

.footer-text a {
	color: #fff200;
}

@media only screen and (max-width: 600px) {
	/* Wrap "View our privacy policy" to the next line on small screens. */
	.footer-text {
		max-width: 330px;
	}
}