.language-button-container {
	display: flex;
}

.language-button-container-2 {
	margin-left: auto;
	margin-right: auto;
	display: flex;
}

.language-label {
	text-transform: uppercase;
	font-size: 16pt;
}