.deadline-banner {
	background: #1d2856;
	color: white;
	font-size: 15pt;
	padding: 2px;
	text-transform: uppercase;
}

@media only screen and (max-width: 840px) {
.vv-header-img {
		width: 200px;
	}
}