.right-buttons {
	grid-column: 2;
	text-align: right;
	padding-top: 5px;
	padding-bottom: 5px;
}

.header-expando {
	grid-column: 2;
	display: none;
}

.vv-page-header {
	flex: 0 1 auto;
	display: grid;
	grid-template-columns: 50% 50%;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 12px;
	padding-right: 12px;
}

.header-gradient-separator {
	border-width: 0px 0px 10px 0px;
	border-style: solid;
	border-image: linear-gradient(to right, #1c2856, #e81c38);
	border-image-slice: 1;
}

.deadline-banner {
	background: #1d2856;
	color: white;
	font-size: 15pt;
	padding: 2px;
	text-transform: uppercase;
}

.expando-content {
	display: block;
}

@media only screen and (max-width: 840px) {
	.vv-header-img {
		width: 200px;
	}
}