.Plan-header {
	padding: 20px;
	color: white;
}

.plan-congrats {
	font-size: 28px;
}

.plan-page-body {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	display: flex;
	flex-flow: column
}

@media only screen and (max-width: 840px) {
	.plan-congrats {
		font-size: 22px;
	}
}