.Plan-header {
	padding: 20px;
	color: white;
}

.plan-sub-header-text {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
}

.plan-page-body {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

/* .Plan-invite-people {
} */

.Plan-invite-people-text {
	text-transform: uppercase;	
	font-family: "AlternateGothicNo3";
	font-size: 16pt;
	vertical-align: top;
	color: #666666;
	margin-top: 20px;
	margin-right: 5px;
	display: inline-block;
}

@media only screen and (max-width: 840px) {
	.plan-sub-header-text {
		font-size: 14px;
	}
}