.question-label {
	font-size: 40px;
	margin-bottom: 40px;
}

@media only screen and (max-width: 420px) {
	.question-label {
		font-size: 32px;
	}
}

.answer-group {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}