.question-label {
	font-size: 40px;
	margin-bottom: 40px;
}

.answer-group {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.zip-code-text-box {
	font-size: 22pt;
	text-transform: uppercase;
	color: black;
	padding-left: 8px;
	max-width: 120px;
}

.zip-code-text-box::placeholder {
	color: #cdcdcd;
}

.submit-zip-button {
	font-size: 22pt;
	border-radius: 10px;
	margin-left: 16px;
}

@media only screen and (max-width: 420px) {
	.question-label {
		font-size: 32px;
	}

	.zip-code-text-box {
		font-size: 18pt;
		max-width: 100px;
	}

	.submit-zip-button {
		font-size: 18pt;
		border-radius: 8px;
	}
}