.Survey-body {
  padding: 20px;
  color: white;
  display: flex;
  flex-flow: column;
}

.question-container {
	flex: 1 0 auto;
	min-height: 400px;
	display: table;
	margin-bottom: 20px;
}

.question-child {
	display: table-cell;
	vertical-align: middle;
}

.dot-navigation {
	flex: 0 0 auto;
}