.plan-page-body {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.plan-save-and-invite {
	text-transform: uppercase;	
	font-family: "AlternateGothicNo3";
	font-size: 16pt;
	display: flex;
}

.plan-save-and-invite-2 {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	display: flex;
}

.plan-save {
	margin-top: auto;
	margin-bottom: auto;
}

.save-button {
	border: none;
	vertical-align: baseline;		/* Line up the "Save" button with the "Invite:" label */
}

.save-button:hover {
	background: #e81c38;
	color: white;
}

.save-pane {
	background: #eeeeee;
	padding: 10px;
	display: flex;
	flex-flow: column;
}

.email-address-label {
	margin-top: 4px;
	margin-bottom: 12px;
	font-size: 16px;
}

.email-address-controls {
	margin-left: auto;
	margin-right: auto;
	display: flex;
}

.email-address-text-box {
	font-size: 16pt;
	width: 250px;
	margin-left: 8px;
	margin-right: 8px;
}

.save-pane-button {
	margin-left: 8px;
	margin-right: 8px;
}

.copy-link-button {
	color: black;
	border-color: black;
}

.plan-invite-people {
	display: flex;
	margin-left: 10px;
	margin-right: 10px;
}

.plan-invite-people-text {
	vertical-align: top;
	color: #999999;
	margin-right: 5px;
	margin-top: auto;
	margin-bottom: auto;
}

.share-widget-container {
	display: flex;
}

.plan-step-share-widget-container {
	margin-top: 20px;
	margin-bottom: 60px;
}


@media only screen and (max-width: 500px) {
	.plan-invite-people {
		flex-flow: column;
	}
}

@media only screen and (max-width: 840px) {
	.plan-sub-header-text {
		font-size: 14px;
	}

	.plan-step-share-widget-container {
		margin-top: 20px;
		margin-bottom: 40px;
	}
}