.plan-save-and-invite {
	text-transform: uppercase;	
	font-family: "AlternateGothicNo3";
	font-size: 16pt;
	display: flex;
}

.plan-save-and-invite-2 {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	display: flex;
}

.plan-save {
	margin-top: auto;
	margin-bottom: auto;
}

.save-button {
	border: none;
	vertical-align: baseline;		/* Line up the "Save" button with the "Invite:" label */
}

.save-button-large {
	margin-bottom: 10px;
}

.save-pane {
	background: #eeeeee;
	padding: 10px;
	display: flex;
	flex-flow: column;
}

.email-address-label {
	margin-top: 4px;
	margin-bottom: 12px;
	font-size: 16px;
}

.email-address-controls {
	margin-left: auto;
	margin-right: auto;
	display: flex;
}

.email-address-text-box {
	font-size: 16pt;
	width: 250px;
	margin-left: 8px;
	margin-right: 8px;
}

.save-pane-buttons {
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

.save-pane-button {
	margin-left: 8px;
	margin-right: 8px;
}

.copy-link-button {
	color: black;
	border-color: black;
}

.email-confirmation {
	font-size: 16px;
	margin-top: 12px;
}

.plan-invite-people {
	display: flex;
	margin-left: 10px;
	margin-right: 10px;
}

.plan-invite-people-text {
	vertical-align: top;
	color: #999999;
	margin-right: 5px;
	margin-top: auto;
	margin-bottom: auto;
}

.share-widget-container {
	display: flex;
}

@media only screen and (max-width: 540px) {
	.email-address-controls {
		flex-flow: column;
	}

	.email-address-text-box {
		width: 300px;
	}

	.save-pane-button {
		margin-top: 8px;
	}
}