.dot {
    height: 80px;
    width: 80px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
